{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content=
		"width=device-width, initial-scale=1.0">
	<title>
		Mohikánok - Bemutatkozás
	</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %} ">
    <script src="{% static 'js/script.js' %}"></script>
</head>

<body>



	<form id="form">

        <h1>Mohikánok - Bemutatkozás</h1>

        <div class="form-control">
			<label for="name" id="label-name">
				Mi a játékosneved?
			</label>

            <input type="text"
				id="name"
				placeholder="Add meg a játékosneved" />
		</div>

        <div class="form-control">
			<label for="role" id="label-role">
				Mi a nemed?
			</label>
			

			<select name="role" id="role">
				<option value="nő">Nő</option>
				<option value="férfi">Férfi</option>
				<option value="egyéb">Egyéb</option>
				</option>
			</select>
		</div>

		<div class="form-control">
			<label for="name" id="label-name">
				Mi a keresztneved?
			</label>


			<input type="text"
				id="name"
				placeholder="Add meg a keresztneved" />
		</div>

		<div class="form-control">
			<label for="age" id="label-age">
				Mennyi idős vagy?
			</label>


			<input type="text"
				id="age"
				placeholder="Add meg az életkorod" />
		</div>

        <div class="form-control">
			<label for="age" id="label-age">
				Melyik országban élsz?
			</label>


			<input type="text"
				id="age"
				placeholder="Add meg az országot, ahol élsz" />
		</div>

        <div class="form-control">
			<label for="role" id="label-role">
				Melyik igaz rád leginkább?
			</label>
			

			<select name="role" id="role">
				<option value="először játszom a játékkal">Először játszom a játékkal</option>
				<option value="újrakezdő játékos vagyok">Újrakezdő játékos vagyok</option>
				<option value="régi motoros vagyok">Régi motoros vagyok</option>
                <option value="egyéb">Egyéb</option>            
			</select>
		</div>

		<div class="form-control">
			<label>
				Mióta játszol a játékkal?
			</label>


			<label for="recommed-1">
				<input type="radio"
					id="recommed-1"
					name="recommed">Kevesebb, mint 1 hónapja</input>
			</label>
			<label for="recommed-2">
				<input type="radio"
					id="recommed-2"
					name="recommed">1-4 hónapja</input>
			</label>
			<label for="recommed-3">
				<input type="radio"
					id="recommed-3"
					name="recommed">4-12 hónapja</input>
			</label>
            <label for="recommed-4">
				<input type="radio"
					id="recommed-4"
					name="recommed">1-3 éve</input>
			</label>
            <label for="recommed-5">
				<input type="radio"
					id="recommed-5"
					name="recommed">3-5 éve</input>
			</label>
            <label for="recommed-6">
				<input type="radio"
					id="recommed-6"
					name="recommed">5-8 éve</input>
			</label>
            <label for="recommed-7">
				<input type="radio"
					id="recommed-7"
					name="recommed">Több, mint 8 éve</input>
			</label>
		</div>

		<div class="form-control">
			<label>Mely állítások igazak rád?</label>

			<label for="inp-1">
				<input type="checkbox"
					name="inp">Szoktam más játékosokat támadni</input></label>
			<label for="inp-2">
				<input type="checkbox"
					name="inp">Aktívan eventezek</input></label>
			<label for="inp-3">
				<input type="checkbox"
					name="inp">Gyakran segítek a védekezésben, ha bent vagyok</input></label>
			<label for="inp-4">
				<input type="checkbox"
					name="inp">Nem költöttem még pénzt a játékra</input></label>
			<label for="inp-5">
				<input type="checkbox"
					name="inp">Erődöket mástól foglalok</input></label>
			<label for="inp-6">
				<input type="checkbox"
					name="inp">Szoktam műemlékeket és/vagy laborokat foglalni</input></label>
			<label for="inp-7">
				<input type="checkbox"
					name="inp">A váramba más személy is be tud lépni</input></label>
			<label for="inp-7">
				<input type="checkbox"
					name="inp">Nem szoktam/ritkán eventezek</input></label>
			<label for="inp-7">
				<input type="checkbox"
					name="inp">Kulturáltan használom a chatet, nem káromkodom, nem sértek meg másokat</input></label>
			<label for="inp-7">
				<input type="checkbox"
					name="inp">Erődjeimet magam építem fel</input></label>
			<label for="inp-8">
				<input type="checkbox"
					name="inp">Vásároltam már rubint</input></label>
			<label for="inp-9">
				<input type="checkbox"
					name="inp">Nemrég kezdzem a játékot, még nem tudok válaszolni a fentebbi állításokra</input></label>
		</div>

		<div class="form-control">
			<label for="comment">
				További tudnivalók/érdekességek, amiket szeretnél megosztani
			</label>


			<textarea name="comment" id="comment"
				placeholder="Add meg itt">
			</textarea>
		</div>


		<button type="submit" value="submit">
			Küldés
		</button>
	</form>
</body>

</html>
