{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content=
		"width=device-width, initial-scale=1.0">
	<title>
		Mohikánok - Bemutatkozás
	</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %} ">
    <script src="{% static 'js/script.js' %}"></script>
	<link php="{static 'php/result.php' %}">
</head>

<body>

	

	<form id="form" name="myForm" name="myFormm">

        <h1>Mohikánok - Bemutatkozás</h1>

        <div class="form-control">
			<label for="name" id="label-name">
				Mi a játékosneved?
				<small>(kötelező)</small>
			</label>

            <input type="text" name="question" name="jatekosnev"
				id="name"
				placeholder="Add meg a játékosneved" />
		</div>

        <div class="form-control" class="questionn">
			<label>
				Mi a nemed?
				<small>(kötelező)</small>
			</label>


			<label for="recommed-1">
				<input type="radio" 
					id="recommed-1"
					name="recommed">Nő</input>
			</label>
			<label for="recommed-2">
				<input type="radio" 
					id="recommed-2"
					name="recommed">Férfi</input>
			</label>
			<label for="recommed-3">
				<input type="radio" 
					id="recommed-3"
					name="recommed">Egyéb</input>
			</label>
            <label for="recommed-4">
				<input type="radio" 
					id="recommed-4"
					name="recommed">Inkább nem válaszolnék</input>
			</label>
		</div>

		<div class="form-control">
			<label for="name" id="label-name">
				Mi a keresztneved?
				<small>(nem kötelező)</small>
			</label>


			<input type="text" name="keresztnev"
				id="name"
				placeholder="Add meg a keresztneved" />
		</div>

		<div class="form-control">
			<label>
				Betöltötted már a 18. életévedet?
				<small>(kötelező)</small>
			</label>


			<label for="rerecommed-5">
				<input type="radio"
					id="rerecommed-5"
					name="rerecommed">Igen</input>
			</label>
			<label for="rerecommed-6">
				<input type="radio"
					id="rerecommed-6"
					name="rerecommed">Nem</input>
			</label>
		</div>

        <div class="form-control">
			<label for="name" id="label-name">
				Melyik országban élsz?
				<small>(nem kötelező)</small>
			</label>


			<input type="text" name="orszag"
				id="name"
				placeholder="Add meg az országot, ahol élsz" />
		</div>

		<div class="form-control">
			<label>
				Melyik igaz rád leginkább?
				<small>(kötelező)</small>
			</label>


			<label for="rererecommed-7">
				<input type="radio" 
					id="rererecommed-7"
					name="rererecommed">Először játszom a játékkal</input>
			</label>
			<label for="rererecommed-8">
				<input type="radio" 
					id="rererecommed-8"
					name="rererecommed">Újrakezdő játékos vagyok</input>
			</label>
			<label for="rererecommed-9">
				<input type="radio" 
					id="rererecommed-9"
					name="rererecommed">Régi motoros vagyok</input>
			</label>
            <label for="rererecommed-10">
				<input type="radio" 
					id="rererecommed-10"
					name="rererecommed">Egyéb</input>
			</label>
		</div>

		<div class="form-control">
			<label>
				Mióta játszol a játékkal?
				<small>(kötelező)</small>
			</label>


			<label for="rerererecommed-11">
				<input type="radio" 
					id="rerererecommed-11"
					name="rerererecommed">Kevesebb, mint 1 hónapja</input>
			</label>
			<label for="rerererecommed-12">
				<input type="radio" 
					id="rerererecommed-12"
					name="rerererecommed">1-4 hónapja</input>
			</label>
			<label for="rerererecommed-13">
				<input type="radio" 
					id="rerererecommed-13"
					name="rerererecommed">4-12 hónapja</input>
			</label>
            <label for="rerererecommed-14">
				<input type="radio" 
					id="rerererecommed-14"
					name="rerererecommed">1-3 éve</input>
			</label>
            <label for="rerererecommed-15">
				<input type="radio" 
					id="rerererecommed-15"
					name="rerererecommed">3-5 éve</input>
			</label>
            <label for="rerererecommed-16">
				<input type="radio" 
					id="rerererecommed-16"
					name="rerererecommed">5-8 éve</input>
			</label>
            <label for="rerererecommed-17">
				<input type="radio" 
					id="rerererecommed-17"
					name="rerererecommed">Több, mint 8 éve</input>
			</label>
		</div>

		<div class="form-control">
			<label>
				Mely állítások igazak rád?
				<small>(több állítás is bejelölhető)</small>
			</label>

			<label for="inp-1">
				<input type="checkbox"
					name="inp">Szoktam más játékosokat támadni</input></label>
			<label for="inp-2">
				<input type="checkbox"
					name="inp">Aktívan eventezek</input></label>
			<label for="inp-3">
				<input type="checkbox"
					name="inp">Gyakran segítek a védekezésben, ha bent vagyok</input></label>
			<label for="inp-4">
				<input type="checkbox"
					name="inp">Nem költöttem még pénzt a játékra</input></label>
			<label for="inp-5">
				<input type="checkbox"
					name="inp">Erődöket mástól foglalok</input></label>
			<label for="inp-6">
				<input type="checkbox"
					name="inp">Szoktam műemlékeket és/vagy laborokat foglalni</input></label>
			<label for="inp-7">
				<input type="checkbox"
					name="inp">A váramba más személy is be tud lépni</input></label>
			<label for="inp-7">
				<input type="checkbox"
					name="inp">Nem szoktam/ritkán eventezek</input></label>
			<label for="inp-7">
				<input type="checkbox"
					name="inp">Kulturáltan használom a chatet, nem káromkodom, nem sértek meg másokat</input></label>
			<label for="inp-7">
				<input type="checkbox"
					name="inp">Erődjeimet magam építem fel</input></label>
			<label for="inp-8">
				<input type="checkbox"
					name="inp">Vásároltam már rubint</input></label>
			<label for="inp-9">
				<input type="checkbox"
					name="inp">Nemrég kezdzem a játékot, még nem tudok válaszolni a fentebbi állításokra</input></label>
		</div>

		<div class="form-control">
			<label for="comment">
				További tudnivalók/érdekességek, amiket szeretnél megosztani
				<small>(nem kötelező)</small>
			</label>

			
			<textarea maxlength="200" name="comment" id="comment" name="egyeb"
				placeholder="Add meg itt">
			</textarea>
		</div>


		<button action="result.php" onclick="return isEmpty()" type="submit" value>Submit</button>

	</form>
</body>

</html>
